.bg-section1{
    background-image: url("images/section1/bg.png");
    background-position: center; 
    background-size: cover;
    text-align: center;
}

.bg-navbar-section1{
    background-image: url("images/section1/ombre.png");
    background-position: center; 
    background-size: cover;
}

.navbar-toggler-icon{
    color: #ffffff;
}

.nav-link{
    font-size: 21px;
    color: #ffffff;
    font-family: "Gentium Book Basic";
    font-weight: 700;
    text-align: right;
}

.icon-section1{
    color: #dab33e;
    margin: 1px;
}

.title-section1{
    font-size: 50px;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    box-shadow: 0.5px 0.866px 2px rgba(1,1,1,0.64);
}

.divider-section1{
    margin: auto;
}

.button-black-section1{
    width: 228px;
    height: 57px;
    background-color: rgba(0,0,0,0.7019607843137254);
    border: 1px solid #000000;
    line-height: 57px;
    margin: auto;
    margin-top: 10px;
}

.text-button-black-section1{
    font-size: 18px;
    color: #ffffff;
    font-family: "Lato";
    text-align: center;
    vertical-align: middle;
}

.text-button-black-section1:hover{
    color: #ffffff;
}

.button-white-section1{
    width: 228px;
    height: 57px;
    line-height: 57px;
    background-color: rgba(255,255,255,0.2784313725490196);
    border: 1px solid #ffffff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.text-button-white-section1{
    font-size: 18px;
    color: #ffffff;
    font-family: "Lato";
    text-align: center;
    vertical-align: middle;
}

.text-button-white-section1:hover{
    color: #ffffff;
}

.bg-section2{
    background-image: url("images/section2/background.png");
    background-position: center; 
    background-size: cover;
}

.title-section2{
    height: 47px;
    font-weight: 400;
    text-align: center;
    color: #cc9900;
    font-size: 36px;
    font-family: "Yeseva One";
    margin-top: 20px;
}

.divider-section2{
    width: 100%;
    height: 100px;
}

.text-section2{
    height: 130px;
    line-height: 24px;
    font-size: 16px;
    color: #4c4c4c;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
}

.cook-section2{
    padding-top: 80px;
    margin: auto;
}

.dish-section2{
    display: none;
    width: 100%;
    margin: auto;
}

.bg-section3{
    background-image: url("images/section3/bg.png");
    background-size: cover;
}

.left-section3{
    background-image: url("images/section3/bg-text.png");
    background-position-x: center;
    text-align: center;
}

.title-section3{
    font-size: 36px;
    color: #ffffff;
    font-family: "Yeseva One";
    margin-top: 45px;
}

.divider-section3{
    margin: auto;
    margin-top: -20px;
}

.text-section3{
    margin: auto;
    width: 70%;
    font-size: 16px;
    color: #ffffff;
    font-family: "Lato";
}

.image-section3{
    width: 70%;
    margin: auto;
}

.bg-section4{
    background-image: url("images/section4/pattern.png");
    background-size: cover;
    text-align: center;
}

#menu-group{
    padding-right: 40px;
    padding-left: 40px;
}

.title-section4{
    padding-top: 15px;
    font-size: 36px;
    color: #cc9900;
    font-family: "Yeseva One";
}

.divider-section4{
    margin: auto;
}

.menu-item{
    font-size: 21px;
    color: #c89f2d;
    font-family: "Yeseva One";
    text-align: left;
    border-bottom: 0.06px solid #fbf7c0;
}

.featured-item{
    width: 66px;
    height: 27px;
    font-size: 14px;
    line-height: 24px;
    color: #f8fafa;
    font-family: "Lato";
    background-color: #c89f2d;
}

.featured-item-border{
    border-right: 1px solid #c89f2d;
    border-bottom: 1px solid #c89f2d;
}

.featured-item-padding{
    padding-right: 3px;
}

.menu-item-descr{
    font-size: 12px;
    line-height: 24px;
    font-family: "Yeseva One";
    text-align: left;
}

.bg-section5{
    background-image: url("images/section5/bg.png");
    background-size: cover;
}

.text-bg-section5{
    background-image: url("images/section5/bg-text.png");
    background-position-x: center;
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-section5{
    font-size: 36px;
    color: #ffffff;
    font-family: "Yeseva One";
    padding-top: 30px;
    margin-bottom: -15px;
}

.divider-section5{
    margin: auto;
    margin-bottom: -15px;
}

.text-section5{
    font-size: 20px;
    color: #dde0df;
    font-family: "Gentium Book Basic";
    padding-right: 46px;
}

.quote-section5{
    font-size: 96px;
    color: #dde3e3b0;
    font-family: 'PT Serif', serif;
    margin-top: -25px;
}

.bg-section6{
    background-image: url("images/section6/pattern.png");
    background-size: cover;
}

.image-section6{
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-left-section6{
    background-image: url("images/section6/imageGauche.png");
    background-size: cover; 
    width: 200px;
}

.image-right-section6{
    background-image: url("images/section6/imageDroite.png");
    background-size: cover; 
    width: 200px;
}

.right-section6{
    text-align: center;
}

.title-section6{
    font-size: 36px;
    line-height: 24px;
    color: #cc9900;
    font-family: "Yeseva One";
    padding-top: 50px;
}

.divider-section6{
    margin: auto;
}

.text-section6{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    color: #4c4c4c;
    font-family: "Lato";
}

.label-section6{
    margin-top:20px;
    font-size: 14px;
    color: #c9a131;
    font-family: "Open Sans";
    text-align: left;
}

.input-section6{
    width: 200px;
    height: 36px;
    background-color: rgba(255,255,255,0.4);
}

.input-section6:hover{
    border: 1px solid #c89f2d;
}

.input-section6::placeholder{
    font-size: 16px;
    color: #7c7c7c;
    font-family: "Open Sans";
    font-style: italic;
}

.select-section6{
    width: 200px;
    height: 36px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid #c8c6c6;
}

.option-section6{
    font-size: 16px;
    color: #7c7c7c;
    font-family: "Open Sans";
    font-style: italic;
}

.button-section6{
    width: 200px;
    height: 36px;
    background-color: rgba(200,159,45,0.9803921568627451);
    border: 1px solid #c89f2d;
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.bg-footer{
    background-color: #191919;
    text-align: center;
}

.title-footer{
    font-size: 21px;
    color: #fefefe;
    font-family: "Yeseva One";
    padding-top: 20px;
}

.divider-footer{
    width: 150px;
    margin: auto;
    margin-top: -15px;
    margin-bottom: -10px;
}

.text-footer{
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans";
}

.image-footer{
    width: 200px;
    margin: auto;
}

.icon-footer{
    color: #f8fafa;
}

@media (min-width: 992px) {

    .title-section1{
        font-size: 90px;
        font-weight: 400;
    }

    .button-black-section1{
        margin: 0;
        margin-top: 10px;
        margin-right: 5px;
    }
    
    .button-white-section1{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 40px;
        margin-left: 5px;
    }

    .dish-section2{
        display: flex;
    }

    .left-section3{
        background-size: 80%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}